*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  font-family: "Epilogue",
    serif;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.8rem 1rem 1rem;
  gap: 2rem;
  
}
.logo{
  flex: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  flex: 2;
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: flex-start;
}
nav ul a{
  text-decoration: none;
  color: black;
}
nav ul li{
  padding-left: 1rem;
}
.list-item-1 , .list-item-2{
  display: flex;
  justify-items: center;
  align-items: center;
}
.register-section{
  flex: 1;
}
.register-section ul{
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.register-section ul li{
  padding-left: 1rem;
}
.register-section ul a{
  text-decoration: none;
  color: black;
}
.register-btn a{
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px;
}
.harmburger-menu{
  display: none;
}
main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem 2rem 6rem;
  gap: 3rem;
}
.hero-section{
  flex: 1;
  align-self: baseline;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.hero-heading{
  margin-bottom: 3rem;
  font-size: 3rem;
}
.hero-description{
  margin-bottom: 3rem;
  line-height: 1.5;
}
.hero-image{
  flex: 1;
 
}
.hero-image img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-image-mobile{
  display: none;
}
.learn-more_btn{
  background-color: black;
  color: white;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 12px;
  margin-bottom: 5rem;
}
.client-section{
  align-self: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  overflow-x: none;
}

@media (max-width : 973px){
  .learn-more_btn{
    margin-bottom: 2rem;
  }
  .hero-description{
    margin-bottom: 1.5rem;
  }
  .hero-heading{
    margin-bottom: 2rem;
  }

}
@media(max-width : 375px){
  
  /*.nav-links{
    display: none;
  }
  .register-section{
    display: none;
  }
  .harmburger-menu{
    display: flex;
    
  }
  header{
    /*justify-content: center;
    background-color: aqua;
    width: 100vw;
  }
  main{
    flex-direction: column;
    padding: 1rem 0 0 0;
    gap: 0;
    align-items: center;
    justify-content: center;
  }
  .hero-section{
    order: 2;
  }
  .hero-image{
    display: none;
  }
  .hero-image-mobile{
    display: flex;
  }
  .hero-image-mobile img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  */
  
}

@media(max-width : 425px){
  header{
    background-color: aqua;
  }
  .nav-links{
    display: none;
  }
  .register-section{
    display: none;
  }
  .harmburger-menu{
    display: flex;
  }
  main{
    flex-direction: column-reverse;
    width: 100vw;
    padding: 0;
    gap: 0;
  }
  .hero-section{
    padding-top: 1rem;
    max-width: 420px;
    align-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .hero-image-mobile{
    display: flex;
  }
  .hero-image-mobile img{
    width: 100%;
  }
  .hero-image{
    display: none;
  }
  .client-section{
    align-self: center;
    max-width: 10px;
  }
  .hero-heading{
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
  }
  .hero-description{
   font-size: 1rem;
   text-align: center;
  }
  .client-section{
    margin: 0 auto;
  }

}
